@model TeamViewModel
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <form class="well form-horizontal" id="contact_form" action="Save" method="post" enctype="multipart/form-data">
        <fieldset>

            <!-- Form Name -->
            <legend><center><h2><b>Cadastro de Time</b></h2></center></legend><br>

            <input type="hidden" name="Operation" value="@ViewBag.Operacao" />
            <input type="hidden" name="id" value="@Model.id" class="form-control" />
            <span asp-validation-for="id" class="text-danger"></span>
            <input type="hidden" name="created_at" value="@Model.created_at" class="form-control" />
            <span asp-validation-for="created_at" class="text-danger"></span>
            <input type="hidden" name="updated_at" value="@Model.updated_at" class="form-control" />
            <span asp-validation-for="updated_at" class="text-danger"></span>

            <main>
                <section>
                    <div class="form-group">
                        <label for="name" class="col-md-4 control-label">Nome do time</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <input type="text" name="name" value="@Model.name" class="form-control" />
                                <span asp-validation-for="name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="skill" class="col-md-4 control-label">Skill</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <input type="text" name="skill" value="@Model.skill" class="form-control" />
                                <span asp-validation-for="skill" class="text-danger"></span>
                            </div>
                        </div>
                    </div>



                    <!-- Text input-->

                    <div class="form-group">
                        <label for="user_id" class="col-md-4 control-label">Usuários</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <select asp-for="user_id" asp-items="ViewBag.Users" class="form-control"></select>
                                <span asp-validation-for="user_id" class="text-danger"></span>
                            </div>
                        </div>
                    </div>



                </section>


                <div class="form-group">
                    <label asp-for="picture" />
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <input type="file" name="picture" id="picture" onchange="exibirImagem()" class="btn btn-secondary" />
                            <span asp-validation-for="picture" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <img id="imgPreview" src="data:image/jpeg;base64,@Model.Base64picture" width="100" />
                </div>

            </main>

            <div class="btn-block">
                <input type="submit" value="Salvar Dados" class="btn btn-success" />
                <span class="text-danger">@ViewBag.Erro</span>
            </div>

        </fieldset>
    </form>
</div>

<style>
    #success_message {
        display: none;
    }

    .btn {
        float: right;
    }

    form {
        margin-top: 40px;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section:first-child {
        width: 75%;
    }
</style>


<script>
    function exibirImagem() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("picture").files[0]);
        oFReader.onload = function (oFREvent) {
            document.getElementById("imgPreview").src = oFREvent.target.result;
        };
    }
</script>