@model List<TeamViewModel>
@{
    ViewData["Title"] = "Usuários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listagem de Times</h2>

<div class="btn-block">
    <a class="btn btn-primary" href="/team/create">Novo Time</a>
</div>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th colspan="2" class="text-center">Ações</th>
            <th>ID</th>
            <th>Nome</th>
            <th>Skill</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model)
        {
            <tr>
                <td>
                    <a href="team/Edit?id=@team.id">Editar</a>
                </td>
                <td>
                    <a href="javascript:deleteTeam(@team.id)">Apagar</a>
                </td>

                <td>@team.id</td>
                <td>@team.name</td>
                <td>@team.skill</td>
            </tr>
        }
    </tbody>
</table>



<script>
    function deleteTeam(id) {
        if (confirm("Confirma a exclusão do registro?"))
            location.href = "team/Delete?id=" + id;
    }
</script>

<style>
    h2 {
        text-align: center;
    }

    .table thead tr th {
        text-align: center;
    }

    .btn {
        float: right;
    }

    .table {
        margin-top: 60px;
    }
</style>

@*<div class="row">
        @foreach (var team in Model)
        {
            ViewBag.demoId = "demo" + @team.id;

            <div class="col-sm-4">
                <p class="text-center"><strong>@team.name</strong></p><br>
                <a href="#@ViewBag.demoId" data-toggle="collapse">
                    <img src="https://www.tailorbrands.com/wp-content/uploads/2019/09/Juicy-logo-100-1-300x300.jpg" class="img-circle person" alt="Random Name">
                </a>
                <div id="@ViewBag.demoId" class="collapse">
                    <p>Id: @team.id</p>
                    <p>Habilidades: @team.skill</p>


                    <a href="team/Edit?id=@team.id">Editar</a>
                    <a href="javascript:deleteTeam(@team.id)">Apagar</a>
                </div>
            </div>
        }
    </div>*@
