@model PostItViewModel
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <form class="well form-horizontal" id="contact_form" action="Save" method="post" enctype="multipart/form-data">
        <fieldset>

            <!-- Form Name -->
            <legend><center><h2><b>Cadastro de Post Its</b></h2></center></legend><br>

            <input type="hidden" name="Operation" value="@ViewBag.Operacao" />
            <input type="hidden" name="id" value="@Model.id" class="form-control" />
            <span asp-validation-for="id" class="text-danger"></span>
            <input type="hidden" name="created_at" value="@Model.created_at" class="form-control" />
            <span asp-validation-for="created_at" class="text-danger"></span>
            <input type="hidden" name="updated_at" value="@Model.updated_at" class="form-control" />
            <span asp-validation-for="updated_at" class="text-danger"></span>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label" for="header">Nome</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input type="text" name="header" value="@Model.header" placeholder="Nome" class="form-control" required />
                        <span asp-validation-for="header" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label" for="body">Descrição</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input type="text" name="body" placeholder="Descrição" value="@Model.body" class="form-control" required />
                        <span asp-validation-for="body" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="doing_by" class="col-md-4 control-label">Sendo Feito por</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <input type="text" name="doing_by" value="@Model.doing_by" class="form-control selectpicker" required />
                        <span asp-validation-for="doing_by" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
                <label for="status" class="col-md-4 control-label">Status</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <select asp-for="status" asp-items="@ViewBag.PostItStatus" class="form-control" value="@Model.status" required></select>
                        <span asp-validation-for="status" class="text-danger"></span>
                    </div>
                </div>
            </div>

            @if (ViewBag.Operacao == "I")
            {
                <div class="form-group">
                    <label for="project_id" class="col-md-4 control-label">Projeto</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <select asp-for="project_id" asp-items="ViewBag.Projects" class="form-control" value="1" required></select>
                            <span asp-validation-for="project_id" class="text-danger"></span>
                        </div>
                    </div>
                </div>
           }

            <div class="btn-block">
                <input type="submit" value="Salvar Dados" class="btn btn-success" />
                <span class="text-danger">@ViewBag.Erro</span>

            </div>

        </fieldset>
    </form>
</div>

<style>
    #success_message {
        display: none;
    }

    .btn {
        float: right;
    }

    form {
        margin-top: 40px;
    }

</style>
