@model ProjectViewModel

@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <form class="well form-horizontal" id="contact_form" action="Save" method="post" enctype="multipart/form-data">
        <fieldset>

            <!-- Form Name -->
            <legend><center><h2><b>Cadastro de Projeto</b></h2></center></legend><br>

            <input type="hidden" name="Operation" value="@ViewBag.Operacao" />
            <input type="hidden" name="id" value="@Model.id" class="form-control" />
            <span asp-validation-for="id" class="text-danger"></span>
            <input type="hidden" name="created_at" value="@Model.created_at" class="form-control" />
            <span asp-validation-for="created_at" class="text-danger"></span>
            <input type="hidden" name="updated_at" value="@Model.updated_at" class="form-control" />
            <span asp-validation-for="updated_at" class="text-danger"></span>

            <main>
                <section>

                    @if (ViewBag.Operacao == "I")
                    {

                        <div class="form-group">
                            <label for="code" class="col-md-4 control-label">Nome do Projeto</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <input type="text" name="code" value="@Model.code" class="form-control" required />
                                    <span asp-validation-for="code" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <input type="hidden" name="code" value="@Model.code" class="form-control" />
                    }

                    <div class="form-group">
                        <label for="description" class="col-md-4 control-label">Descrição</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <input type="text" name="description" value="@Model.description" class="form-control" required />
                                <span asp-validation-for="description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->

                    <div class="form-group">
                        <label for="team_id" class="col-md-4 control-label">Equipe Responsável</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <select asp-for="team_id" asp-items="ViewBag.Teams" class="form-control" value="@Model.team_id" required></select>
                                <span asp-validation-for="team_id" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </section>


                <div class="form-group">
                    <label asp-for="picture" class="col-md-4 control-label" />
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <input type="file" name="picture" id="picture" onchange="exibirImagem()" class="btn btn-secondary" />
                            <span asp-validation-for="picture" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <img id="imgPreview" src="data:image/jpeg;base64,@Model.ImagemEmBase64" class="img-responsive" width="100" />
                </div>

            </main>

            <div class="btn-block">
                <input type="submit" value="Salvar Dados" class="btn btn-success" />
                <span class="text-danger">@ViewBag.Erro</span>
            </div>


        </fieldset>
    </form>
</div>

<style>
    #success_message {
        display: none;
    }

    .btn {
        float: right;
    }

    form {
        margin-top: 40px;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section:first-child {
        width: 75%;
    }
</style>


<script>
    function exibirImagem() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("picture").files[0]);
        oFReader.onload = function (oFREvent) {
            document.getElementById("imgPreview").src = oFREvent.target.result;
        };
    }
</script>